src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/motorController.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/.idea/.gitignore
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/src.iml
src/.idea/inspectionProfiles/profiles_settings.xml
src/.idea/vcs.xml
src/.idea/inspectionProfiles/Project_Default.xml
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/motorController.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/__pycache__/motorController.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/camera.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/__pycache__/main.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/capture/imgclear.jpg
src/capture/screen0.jpg
src/capture/screen1.jpg
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/capture/imgclear.jpg
src/capture/screen0.jpg
src/capture/screen1.jpg
src/capture/screen2.jpg
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/capture/screen2.jpg
src/capture/screen1.jpg
src/capture/screen0.jpg
src/capture/imgclear.jpg
src/__pycache__/slam.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/motorController.cpython-311.pyc
src/__pycache__/globals.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/.idea/.name
src/__pycache__/settings.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/capture/imgclear.jpg
src/capture/screen0.jpg
src/capture/screen1.jpg
src/capture/screen2.jpg
src/capture/screen3.jpg
src/capture/screen4.jpg
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/motorController.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/capture/imgclear.jpg
src/capture/screen0.jpg
src/capture/screen1.jpg
src/capture/screen2.jpg
.gitignore
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/motorController.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/capture/imgclear.jpg
src/capture/screen0.jpg
src/capture/screen1.jpg
src/capture/screen2.jpg
.gitignore
src/build/main/localpycs/pyimod01_archive.pyc
src/build/main/localpycs/pyimod02_importers.pyc
src/build/main/localpycs/pyimod03_ctypes.pyc
src/build/main/localpycs/pyimod04_pywin32.pyc
src/build/main/localpycs/struct.pyc
