src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/motorController.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/.idea/.gitignore
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/src.iml
src/.idea/inspectionProfiles/profiles_settings.xml
src/.idea/vcs.xml
src/.idea/inspectionProfiles/Project_Default.xml
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/motorController.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/__pycache__/motorController.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/camera.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/__pycache__/main.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/capture/imgclear.jpg
src/capture/screen0.jpg
src/capture/screen1.jpg
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/capture/imgclear.jpg
src/capture/screen0.jpg
src/capture/screen1.jpg
src/capture/screen2.jpg
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/capture/screen2.jpg
src/capture/screen1.jpg
src/capture/screen0.jpg
src/capture/imgclear.jpg
src/__pycache__/slam.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/motorController.cpython-311.pyc
src/__pycache__/globals.cpython-311.pyc
src/__pycache__/drawBoard.cpython-311.pyc
src/.idea/.name
src/__pycache__/settings.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/capture/imgclear.jpg
src/capture/screen0.jpg
src/capture/screen1.jpg
src/capture/screen2.jpg
src/capture/screen3.jpg
src/capture/screen4.jpg
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/motorController.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/capture/imgclear.jpg
src/capture/screen0.jpg
src/capture/screen1.jpg
src/capture/screen2.jpg
.gitignore
src/__pycache__/drawBoard.cpython-311.pyc
src/__pycache__/motorController.cpython-311.pyc
src/__pycache__/slam.cpython-311.pyc
src/capture/imgclear.jpg
src/capture/screen0.jpg
src/capture/screen1.jpg
src/capture/screen2.jpg
.gitignore
src/build/main/localpycs/pyimod01_archive.pyc
src/build/main/localpycs/pyimod02_importers.pyc
src/build/main/localpycs/pyimod03_ctypes.pyc
src/build/main/localpycs/pyimod04_pywin32.pyc
src/build/main/localpycs/struct.pyc
src/.lgd-nfy0
src/__pycache__/.wolf24680a0eEPm3sx6sJ.cpython-311.pyc
src/__pycache__/.wolf24680aZQo9u4tIfg9.cpython-311.pyc
src/__pycache__/.wolf24680c03oyfxfC2ty.cpython-311.pyc
src/__pycache__/.wolf24680CMFvk4uTYbM5.cpython-311.pyc
src/__pycache__/.wolf24680CQsqGJrHcVXR.cpython-311.pyc
src/__pycache__/.wolf24680cqSzEmJFQ9oV.cpython-311.pyc
src/__pycache__/.wolf24680cqU2qB9az7Wk.cpython-311.pyc
src/__pycache__/.wolf24680d6VQ4IvGK0OR.cpython-311.pyc
src/__pycache__/.wolf24680d7K08k38WSUZ.cpython-311.pyc
src/__pycache__/.wolf24680DLxRBDsXr2AZ.cpython-311.pyc
src/__pycache__/.wolf24680dPOcY2MAm7V3.cpython-311.pyc
src/__pycache__/.wolf24680dS6i917paM2n.cpython-311.pyc
src/__pycache__/.wolf24680du7ZHERkufX7.cpython-311.pyc
src/__pycache__/.wolf24680Eg4nRTBs9hWy.cpython-311.pyc
src/__pycache__/.wolf24680EkOlCStg0KNq.cpython-311.pyc
src/__pycache__/.wolf24680F6UEyNCGx27Y.cpython-311.pyc
src/__pycache__/.wolf24680gcrfwhsz5HfH.cpython-311.pyc
src/__pycache__/.wolf24680GEPUSiFEJB33.cpython-311.pyc
src/__pycache__/.wolf24680GFUH4Vvm1jUc.cpython-311.pyc
src/__pycache__/.wolf24680guKlN5gO1GLV.cpython-311.pyc
src/__pycache__/.wolf24680hEykE5dJDVyr.cpython-311.pyc
src/__pycache__/.wolf24680IsMKmkXi6OKB.cpython-311.pyc
src/__pycache__/.wolf24680jET5AZyD9lg5.cpython-311.pyc
src/__pycache__/.wolf24680jLxIh8keLElr.cpython-311.pyc
src/__pycache__/.wolf24680jNwndGb671pX.cpython-311.pyc
src/__pycache__/.wolf24680k1jgqBIUwUeE.cpython-311.pyc
src/__pycache__/.wolf24680Ko2Nl04V2QW2.cpython-311.pyc
src/__pycache__/.wolf24680KTYT3zLKXOWk.cpython-311.pyc
src/__pycache__/.wolf24680LEycF2Xgpbc4.cpython-311.pyc
src/__pycache__/.wolf24680LZEi8FG1hLFx.cpython-311.pyc
src/__pycache__/.wolf24680mIOH0q9fKulC.cpython-311.pyc
src/__pycache__/.wolf24680N6k3B4LTEJen.cpython-311.pyc
src/__pycache__/.wolf24680naIYdlBWX5CD.cpython-311.pyc
src/__pycache__/.wolf24680nAMUkauhDdS2.cpython-311.pyc
src/__pycache__/.wolf24680NfyF5bKogfYD.cpython-311.pyc
src/__pycache__/.wolf24680NOkFz246Hxk3.cpython-311.pyc
src/__pycache__/.wolf24680O27MSA83U2Zq.cpython-311.pyc
src/__pycache__/.wolf24680oaDsyTJ9h1RE.cpython-311.pyc
src/__pycache__/.wolf24680pX3PQ09AiEUI.cpython-311.pyc
src/__pycache__/.wolf24680Pz55oOWeXCev.cpython-311.pyc
src/__pycache__/.wolf24680qht4lY6Q0a4r.cpython-311.pyc
src/__pycache__/.wolf24680qQEZpmViMbv4.cpython-311.pyc
src/__pycache__/.wolf24680r59DPiag0hmB.cpython-311.pyc
src/__pycache__/.wolf24680RTqL975MTdZI.cpython-311.pyc
src/__pycache__/.wolf24680RVUs4VeVEMpb.cpython-311.pyc
src/__pycache__/.wolf24680sbqQhgGhBe7c.cpython-311.pyc
src/__pycache__/.wolf24680sBSO84yO4dqg.cpython-311.pyc
src/__pycache__/.wolf24680sdKZumX25gon.cpython-311.pyc
src/__pycache__/.wolf24680sUYO5uGbBQ3A.cpython-311.pyc
src/__pycache__/.wolf24680SXrl0S0Ebk5T.cpython-311.pyc
src/__pycache__/.wolf24680T7ZfKbUPQj6Z.cpython-311.pyc
src/__pycache__/.wolf24680TJg6FKC5KWa9.cpython-311.pyc
src/__pycache__/.wolf24680tYo52V2xclGX.cpython-311.pyc
src/__pycache__/.wolf24680v4MKSo7dsnd3.cpython-311.pyc
src/__pycache__/.wolf24680v5SWZ1aAO4ef.cpython-311.pyc
src/__pycache__/.wolf24680VFHBcqENgT6U.cpython-311.pyc
src/__pycache__/.wolf24680wATuuZeWzgt0.cpython-311.pyc
src/__pycache__/.wolf24680WsbQcYUZvCmR.cpython-311.pyc
src/__pycache__/.wolf24680X5oyLTmv013i.cpython-311.pyc
src/__pycache__/.wolf24680XCmB28NpuZWd.cpython-311.pyc
src/__pycache__/.wolf24680xhCCkqSydCcA.cpython-311.pyc
src/__pycache__/.wolf24680Xhr5BnwzF8GR.cpython-311.pyc
src/__pycache__/.wolf24680xPQUBMkW32QC.cpython-311.pyc
src/__pycache__/.wolf24680y9vBG0y2eOXH.cpython-311.pyc
src/__pycache__/.wolf24680YCOeXqL3SQ77.cpython-311.pyc
src/__pycache__/.wolf24680YLE384ca5v9k.cpython-311.pyc
src/__pycache__/.wolf24680z5GLnjaFDHoY.cpython-311.pyc
src/__pycache__/.wolf24680zhN4fi2iXYv6.cpython-311.pyc
src/__pycache__/.wolf24680Zmb9koNT0KqD.cpython-311.pyc
src/__pycache__/.wolf24680ZqM9oRB7iWgX.cpython-311.pyc
src/__pycache__/.wolf24680zxraT1Jz2uWY.cpython-311.pyc
src/__pycache__/.wolf246800uc31IH0EKL7.cpython-311.pyc
src/__pycache__/.wolf246801MOYYGwGEWJw.cpython-311.pyc
src/__pycache__/.wolf246802qYubs7iIqJs.cpython-311.pyc
src/__pycache__/.wolf246803hCgAc8tPXh8.cpython-311.pyc
src/__pycache__/.wolf246804wtI1Le5fEei.cpython-311.pyc
src/__pycache__/.wolf246805gO58t9iyraa.cpython-311.pyc
src/__pycache__/.wolf246805psezrLrK1xa.cpython-311.pyc
src/__pycache__/.wolf246805RktCfsrkCM1.cpython-311.pyc
src/__pycache__/.wolf246806dJmmO92yZID.cpython-311.pyc
src/__pycache__/.wolf246807BhTa7MeDwEz.cpython-311.pyc
src/__pycache__/.wolf246808QSgeEH26VW7.cpython-311.pyc
src/__pycache__/.wolf246809fAV3uGTEhzN.cpython-311.pyc
src/__pycache__/.wolf2468057JjhmYni2i8.cpython-311.pyc
src/__pycache__/.wolf2468063d7cBAFf0PU.cpython-311.pyc
src/__pycache__/.wolf2468066HubKKl9udw.cpython-311.pyc
src/__pycache__/.wolf2468066WWRz15SVEI.cpython-311.pyc
src/__pycache__/.wolf24680073toqGCfr0k.cpython-311.pyc
src/main.py~
